html {
    background-color: beige;
    font-family: monospace;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.listgroup {
    color: lightseagreen;
    border: 0px solid black;
    margin: 1px;
    padding: 1px 1px;
    text-align: center;
}

.list {  
    display: inline-block;
    border: 0px solid red;
    padding: 1px 1px;
    vertical-align: middle;
}

td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    color: lightseagreen;
}

h2{
    text-align: center;
}

table { 
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightseagreen;
}
